<div class="form1">
    <form name="changePasswordForm" ng-submit="changePassword(userData)">
        <fieldset>
            <legend>Change Password</legend>

            <label for="oldPassword">Old password</label>
            <input type="password" class="mdl-textfield__input" id="oldPassword" ng-model="userData.oldPassword" required/>
            <br/>

            <label for="newPassword">New password</label>
            <input type="password" class="mdl-textfield__input" id="newPassword" ng-model="userData.newPassword" required/>
            <br/>

            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="mdl-textfield__input" id="confirmPassword" ng-model="userData.confirmPassword"
                   compare-to="userData.newPassword" required/>
            <br/>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-disabled="changePasswordForm.$invalid">Change Password</button>
            <a href="#/">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancel</button>
            </a>
        </fieldset>
    </form>
</div>