<div class="center">
    <div ng-init="getPrivateRoomById()" class="panel panel-default mid">
        <div class="panel-heading">
            {{username}}
        </div>
    </div>

    <div ng-controller="MessageController" ng-init="getLatestMessages()" class="panel panel-default chat">
        <div class="border" scroll-glue>
            <div ng-init="getMessages()">
                <div ng-show="hasMoreMessages" class="moreMsg">
                    <a href="" ng-click="getAllMessages()">Get All Messages</a>
                    <a href="" ng-click="getMessages()">Load more messages</a>
                </div>

                <li class="message" ng-repeat="message in messages">
                    <div>
                        <img ng-mouseover="show = true;" ng-mouseleave="show = false;" class="profileImage"
                             ng-src="{{message.SenderProfilePicture || 'resources/defaultProfileImg.png'}}"/>
                        {{message.SenderName}}:
                        <img class="sentImage" ng-if="message.Content.startsWith('data:image')"
                             ng-src="{{message.Content}}"/>
                        <span ng-if="!message.Content.startsWith('data:image')" class="mssg">{{message.Content}}</span>
                        <span ng-show="show">{{message.SenderName}} - {{dateFromNow(message.Date)}}</span>
                    </div>
                </li>
            </div>
        </div>
        <div class="msg">
            <form id="sendMessageForm" name="sendMessageForm" ng-submit="sendMessage(messageContent)">
                <input class="form-control" id="messageContent" placeholder="Write a reply..."
                       ng-model="messageContent.Content" minlength="2" required/>
            </form>
            <input type="file" onchange="angular.element(this).scope().sendPicture(this)"/>
        </div>
    </div>
</div>