<div ng-init="getPrivateRoomById()" class="panel panel-default" style="margin: 20px; width: 250px;">
    <div class="panel-heading" style="text-align: center">{{username}}
    </div>
</div>

<div ng-controller="MessageController" ng-init="getLatestMessages()" style="margin: 20px; width: 300px" class="panel panel-default">

    <div ng-init="getMessages()">

        <div ng-show="hasMoreMessages">
            <a href="" ng-click="getAllMessages()">Get All Messages</a>
            <a href="" ng-click="getMessages()">Load more messages</a>
        </div>

        <ul>
            <li class="message" ng-repeat="message in messages">
                <div>
                    {{message.SenderName}} -
                    {{message.Content}} - 
                    {{dateFromNow(message.Date)}}
                </div>
            </li>
        </ul>

        <form id="sendMessageForm" name="sendMessageForm" ng-submit="sendMessage(messageContent)" style="padding: 10px; display: inline-block">
            <input class="form-control" id="messageContent" placeholder="Write a reply..."
                   ng-model="messageContent.Content" minlength="2" required/>
        </form>
    </div>
</div>