<div class="form1">
    <form name="editProfileForm" ng-submit="editProfile(userData)">
        <fieldset ng-init="getDataAboutMe()">
            <legend>Edit Profile</legend>
            <div>
                <img class="avatar" id="profileImgPreview" ng-src="{{userData.ProfileImage || 'resources/defaultProfileImg.png'}}">
            </div>
            <input class="upload" type="file" name="upload" onchange="angular.element(this).scope().uploadImage(this)">
            <br/>

            <div class="mdl-textfield mdl-js-textfield">
                <label for="name">Name</label>
                <input class="mdl-textfield__input" type="text" id="name" ng-model="userData.Name" required/>
            </div>

            <div class="mdl-textfield mdl-js-textfield">
                <label for="email">Email</label>
                <input type="email" class="mdl-textfield__input" id="email" ng-model="userData.Email" required/>
            </div>

            <br/>

            <div>
                <label>Gender</label>
                <br/>
                <input type="radio" name="gender" ng-model="userData.Gender" ng-value="1"/> Male
                <input type="radio" name="gender" ng-model="userData.Gender" ng-value="2"/> Female
                <input type="radio" name="gender" ng-model="userData.Gender" ng-value="3"/> Other
            </div>
            <br/>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-disabled="editProfile.$invalid">Edit Profile</button>
            <a href="#/">
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Cancel</button>
            </a>

        </fieldset>
    </form>
</div>