<div class="form">
    <form ng-submit="register(userData)" name="registerForm">
        <fieldset>

            <legend>
                <h2>Register</h2>
            </legend>

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                <input placeholder="Username" class="form-control" id="log-username" type="text" ng-model="userData.username" required aria-describedby="basic-addon1"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                <input placeholder="Password" class="form-control" id="log-pass" type="password" ng-model="userData.password" ng-minlength="6" required aria-describedby="basic-addon1"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                <input placeholder="Confirm Password" class="form-control" id="confirm-reg-pass" type="password" ng-model="userData.confirmPassword" compare-to="userData.password" required/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
                <input class="form-control" id="email" type="email" ng-model="userData.email" placeholder="example@yahoo.com" required/>
            </div>
            <div class="input-group">
                <label>Gender</label>
                <br/>

                <div class="inline">
                    <label for="male">Male</label>
                    <input type="radio" ng-model="userData.gender" id="male" name="gender" ng-value="1" required/>
                </div>
                <div class="inline">
                    <label for="female">Female</label>
                    <input type="radio" ng-model="userData.gender" id="female" name="gender" ng-value="2" required/>
                </div>
                <div class="inline">
                    <label for="other">Other</label>
                    <input type="radio" ng-model="userData.gender" id="other" name="gender" ng-value="3" required/>
                </div>
            </div>
            <br/>

            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-disabled="registerForm.$invalid">Register</button>

        </fieldset>
    </form>
</div>

<form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" />
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
</form>