<div ng-init="getRooms()">
    <form name="addRoomForm" ng-submit="addRoom(room.Name)" style="padding: 20px">
        <input type="text" class="form-control" id="room.Name" ng-model="room.Name" placeholder="Enter room name" required style="width: 20%; display: inline-block"/>
        <button id="addRoomButton" class="btn btn-default" type="submit" ng-disabled="addRoomForm.$invalid">Add Room</button>
    </form>
    <h5>Public Chats</h5>
    <ul>
        <li ng-repeat="room in roomsList">
            <button type="button" class="btn btn-default" ng-click="joinRoom(room)">
                {{room.Name}} - {{room.MembersCount}} Members
            </button>
        </li>
    </ul>
</div>

<div ng-init="getPrivateRooms()">
    <h5>Private Chats</h5>
    <ul>
        <li ng-repeat="room in privateRoomsList">
            <a href="#/privateRooms/{{room.Id}}">
                {{room.Name}}
            </a>
        </li>
    </ul>
</div>


<div ng-controller="UsersController" ng-init="getOnlineUsers()">
    <h5>Online Users</h5>
    <ul>
        <li ng-repeat="user in onlineUsers">
            <a href="" ng-click="addPrivateRoom(user.UserName)">
                <img class="profileImage" alt=""
                     ng-src="{{message.ProfileImage || 'resources/defaultProfileImg.png'}}"/>
                {{user.Name}}
            </a>
        </li>
    </ul>
</div>