<div ng-init="getRooms()">
    <form name="addRoomForm" ng-submit="addRoom(room.Name)" style="padding: 20px">
        <input type="text" class="form-control" id="room.Name" ng-model="room.Name" placeholder="Enter room name" required style="width: 20%; display: inline-block"/>
        <button id="addRoomButton" class="btn btn-default" type="submit" ng-disabled="addRoomForm.$invalid">Add Room</button>
    </form>
    <ul>
        <li ng-repeat="room in roomsList">
            <button type="button" class="btn btn-default" ng-click="joinRoom(room)">
                {{room.Name}} - {{room.MembersCount}} Members
            </button>
            <button class="btn btn-danger" ng-click="deleteRoom(room)">Delete Room</button>
        </li>
    </ul>
</div>