.wrapper {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #e8e9ec;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.nav-bar {
    background-color: teal;
}

.glyphicon {
    color: black;
}

.glyphicon-log-out {
    color: red;
}

.center {
    text-align: center;
    margin-top: 50px;
}

.input-group, .form {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.form1 {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.form {
    padding-top: 20px;
}

.sentImage {
    max-width: 100%;
    max-height: 75px;
    height: auto;
}

.profileImage {
    width: 34px;
}

li {
    list-style:none;
}

.message {
    padding: 5px;
}

.upload {
    margin: 0 75px;
}

.mid {
    width: 175px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.top {
    vertical-align: top;
}

.roomBtn {
    margin-top: 5px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.item {
    padding: 3px;
    padding-left: 20px;
    text-align: left;
}

.chat {
    width: 600px;
    vertical-align: top;
    display: inline-block;
    height: 400px;
}

.msg {
    width: 80%;
    margin: 0 auto;
}

.border {
    border: 1px solid gray;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 10px;
    overflow: auto;
    text-align: left;
}

.moreMsg {
    text-align: center;
}

.mssg {
    color: red;
}