a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.nav-bar {
    background-color: teal;
}

.glyphicon {
    color: black;
}

.glyphicon-log-out {
    color: red;
}

.center {
    text-align: center;
    margin-top: 50px;
}

.input-group, .form {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.form1 {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.form {
    padding-top: 20px;
}

.sentImage {
    max-width: 100%;
    max-height: 75px;
    height: auto;
}

.profileImage {
    max-width: 50px;
    max-height: 50px;
}

li {
    list-style:none;
}

.message {
    padding: 5px;
}

.upload {
    margin: 0 75px;
}
